<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <h4><%= deck.title %></h4>
      </div>
    </div>

    <div class="row" id="slide-placeholder">
      <div class="col s12">
        <%= render "slide", slide: deck.current_slide %>
      </div>
    </div>

  </div>
  <input type="hidden" value="<%= deck.current_slide.position %>" id="slide-id">
</div>
<a class="right btn-floating btn-large waves-effect waves-light light-blue" id="next" data-deck-id="<%= deck.id %>">
  <i class="material-icons">keyboard_arrow_right</i>
</a>
<a class="left btn-floating btn-large waves-effect waves-light light-blue" id="prev" data-deck-id="<%= deck.id %>">
  <i class="material-icons">keyboard_arrow_left</i>
</a>
